.CourseDetailPage {
  width: 100%;
  position: relative;
}

.CourseDetailPage .CourseDetailPageTop {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
}

.CourseDetailPage .subPage {
  margin-top: 35px;
}

.tabList .tab {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/* .CourseDetailPage .tabContext {
  display: flex;
  justify-content: center;
  align-items: center;
}



.tabList {
  display: flex;
  justify-content: center;
  align-items: center;
}

 */
